
.jumbotron {
    position: relative;
    background: #000 url("jumbotron-bg.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    /* font-color: grey;  */
    /* color: #fcfff8; */
    color: white;
}
